.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 100px;
    background-color: #1b1a1a;
}

.menu li a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 24px;
    border-radius: 5px;
}

.menu li a:hover {
    font-weight: bolder;
    text-shadow: 0 0 5px rgba(249, 249, 249, 0.55), 0 0 5px rgba(58, 55, 55, 0.45);
}